.newer-step .con{background:url(../r/p/help/help-center.png) no-repeat;height: 453px;}
.newer-step .cos-link{left:100px}
.newer-step .con .ta{left:422px;top:35px;background:#fff}
.newer-step .con .tb{left:422px;top:205px;background:#fff}
.newer-step .con .cosp a{display:none}
.newer-step .con .ta, .newer-step .con .tb, .newer-step .con .csa, .newer-step .con .csb {
    display: none;
}
.help-right .jian{display:none}
.h-serh-help{display:none}